.section {
    max-width: 100%;
    margin: 2em;

    display: flex;
    justify-content: center;
}

.inner-section {
	max-width: 740px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.overlay {
	position: fixed;
	z-index: 2;
}

.logo img {
	width: 8em;
	height: 100%;
}

.title-text, .subtitle-text {
	width: 700px;
}

.title-text {
	font-family: "Lora", serif;
	font-size: xx-large;
	font-weight: 700;

	text-align: right;
}

.subtitle-text {
	font-family: "Lora", serif;
	font-size: small;
	text-align: right;

	font-weight: 400;
	font-style: italic;
}

.text-block {
	font-family: "Libre Baskerville", serif;
	font-size: medium;

	text-align: left;
	line-height: 1.3em;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  background: #ff9710;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.full-btn, .full-img {
  text-align: center;

  display: block;
  margin: 1em auto;
  width: 70%;
  min-width: 10em;
}

.full-img {
	width: 100%;
	margin: 1em auto;
}

.full-img img {
	max-width: 100%;
}

.full-width-flex {
	display: flex;
	max-width: 100%;
}

.highlightable-icon {
	width: 10em;
	border: 2px #aaa solid;
	border-radius: 5px;
	opacity: 1;
}

.highlightable-icon * {
	box-shadow: initial;
}

.highlightable-icon:hover {
	color: #aaa;
	opacity: 0.5;
}

.highlightable-icon,.highlightable-icon:hover {
	transition: 0.1s ease;
}

.inset-box {
	opacity: 50%;
	background-color: rgba(221, 223, 243, 0.445);
	padding: 2em;
	border-radius: 5px;
	margin-top: 1em;
	margin-bottom: 1em;
}

#back-btn {
	position: fixed;
	left: 2em;
	bottom: 2em;
}

#next-btn {
	position: fixed;
	right: 2em;
	bottom: 2em;
}

.btn:hover {
  background: #fcb65b;
  text-decoration: none;
}

img {
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

blockquote {
	margin-top: 2em;
	margin-bottom: 2em;
}

blockquote:before {
	display: block;
	content: "❝";
	font-size: 150px;
	line-height: 0.01em;
	opacity: 0.2;
	position: relative;
	left: -35px;
	top: 30px;
	z-index: -1;
}

p.summary-block {
	background-color: #ffcf91;
	border-radius: 5px;
	padding: 2em;
	border-left: .5em solid #feae56;
}

p.summary-block::before {

}

p.summary-block strong {
	/* Vocabulary phrases */
	font-weight: bold;
	font-style: italic;
}

a.disabled {
	pointer-events: none;
	color: #aaa;
	text-decoration: none;
}

.ending-logo, #template-logo {
	box-shadow: initial;
}