.section {
    max-width: 100%;
    margin: 2em;

    display: flex;
    justify-content: center;
}

.inner-section {
	max-width: 740px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.overlay {
	position: fixed;
	z-index: 2;
}

.logo img {
	width: 8em;
	height: 100%;
}

.title-text, .subtitle-text {
	width: 700px;
}

.title-text {
	font-family: "Lora", serif;
	font-size: xx-large;
	font-weight: 700;

	text-align: right;
}

.subtitle-text {
	font-family: "Lora", serif;
	font-size: small;
	text-align: right;

	font-weight: 400;
	font-style: italic;
}

.text-block {
	font-family: "Libre Baskerville", serif;
	font-size: medium;

	text-align: left;
	line-height: 1.3em;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  background: #ff9710;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.full-btn, .full-img {
  text-align: center;

  display: block;
  margin: 1em auto;
  width: 70%;
  min-width: 10em;
}

.full-img, .not-so-full-img {
	width: 100%;
	margin: 1em auto;
	text-align: center;
}

.full-img img {
	max-width: 100%;
}

.not-so-full-img img {
	max-width: 80%;
}

.full-width-flex {
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;

	justify-content: center;
}

.highlightable-icon {
	width: 10em;
	border: 2px #aaa solid;
	border-radius: 5px;
	opacity: 1;
	
	text-align: center;
}

.highlightable-icon * {
	box-shadow: initial;
}

.highlightable-icon:hover {
	color: #aaa;
	opacity: 0.5;
}

.highlightable-icon,.highlightable-icon:hover {
	transition: 0.1s ease;
}

.inset-box {
	opacity: 50%;
	background-color: rgba(221, 223, 243, 0.445);
	padding: 2em;
	border-radius: 5px;
	margin-top: 1em;
	margin-bottom: 1em;
}

code {
	font-family: monospace;
	white-space: pre-wrap;
}

#back-btn {
	position: fixed;
	left: 2em;
	bottom: 2em;
}

#next-btn {
	position: fixed;
	right: 2em;
	bottom: 2em;
}

.btn:hover {
  background: #fcb65b;
  text-decoration: none;
}

img {
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

blockquote, .question {
	margin-top: 2em;
	margin-bottom: 2em;
}

.question {
	background-color: rgba(255, 235, 224, 0.521);
	padding: 2em;
	border-radius: 10px;
}

.question ol {
	padding-left: 1em;
}

.question ol li {
	padding-left: 1em;
	padding-bottom: 0.5em;
}

blockquote:before, .question:before {
	display: block;
	line-height: 0.01em;
	opacity: 0.2;
	position: relative;
	z-index: -1;
}

blockquote:before {
	content: "❝";
	font-size: 150px;
	left: -35px;
	top: 30px;
}

.question:before {
	/* content: "؟"; */
	content: "?";
	font-size: 100px;
	font-weight: bold;
	font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
	left: -85px;
	top: 0px;
}

p.summary-block {
	background-color: #ffcf91;
	border-radius: 5px;
	padding: 2em;
	border-left: .5em solid #feae56;
}

p.summary-block::before {

}

p.summary-block strong {
	/* Vocabulary phrases */
	font-weight: bold;
	font-style: italic;
}

a.disabled {
	pointer-events: none;
	color: #aaa;
	text-decoration: none;
}

.ending-logo, #template-logo {
	box-shadow: initial;
}

#code-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2em;
	text-align: center;
	background-color: white;
	opacity: 0;

	/* animation: fadeout 1s; */
	z-index: 1;
}

#code-overlay.fadeout {
	display: block;
	opacity: 1;
	animation: fadeout 1s;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* .checkbox-container {
	flex-grow: 1;

	border-radius: 5px;
	border: 1px solid #aaa;

	padding: 1em;
	margin: 0 1em;
} */

.checkbox-container {
	flex-grow: 1;
	flex-basis: 0;
	display: block;
}

.checkbox-container input {
	opacity: 0;
	width: 0;
	height: 0;
	display: none;
}

.checkbox-container label {
	display: block;
	border-radius: 5px;
	border: 1px solid #ff9710;

	padding-top: .5em;
	padding-bottom: .5em;
	margin: 0 1em;
	cursor: pointer;

	transition: all 0.10s ease-in-out;
}

.checkbox-container input[type=radio]:active ~ label {
	opacity: 1;
}

.checkbox-container input[type=radio]:checked ~ label {

	opacity: 1;
	color: #fff;
	background-color:#ff9710;
}

.checkbox-container input[type=radio]:hover ~ label {
	background-color: #fcb65b;
}

/* .checkbox-container:hover {
	background-color: #ddd;
} */